.search-bar {
  display: flex;
  background-color: white;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  gap: 13px;
  padding-right: 13px;
}

.search__input {
  /* Adicionando espaçamento interno de 13 pixels em todas as direções */
  padding: 13px;
  /* Permitindo que o elemento cresça e ocupe todo o espaço disponível dentro do container */
  flex-grow: 1;
  /* Removendo qualquer estilo de borda */
  border: none;
  /* Removendo o contorno que geralmente aparece quando o elemento está em foco */
  outline: none;
  /* Definindo o tamanho da fonte do texto como 0.8 rem */
  font-size: 0.8rem;
  /* Definindo o peso (espessura) da fonte como 500 (deve ser um valor numérico, não "500px") */
  font-weight: 500px;
  /* Adicionando uma borda sólida de 1 pixel na cor #ddd no lado direito do elemento */
  border-right: 1px solid #ddd;
}

.search__button {
  background: none;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}