Body {
    background: rgb(108, 108, 253);
    font: normal 15pt arial;
}
header {
    color: black;
    text-align: center;
}
div {
    padding: 10px;
   text-align: center;
}

section {
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    width: 500px;
    box-shadow: 3px 3px 10px black;
}
footer {
    color: black;
    text-align: center;
    font-style: italic;
}
