@charset "UTF-8";

body {
    background-color: var(--cor3);
    margin: 0;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 20px;
    min-height: 100px;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
}

header h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 3em;
    padding: 10px;
}

header p {
    color: white;
    font-size: 1.2em;
    padding: 5px;
    font-weight: bold;
}

nav {
    background-color: var(--cor5);
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

nav > a:hover {
    background-color: #2fa866;
    transition-duration: 1s;
}

main {
    background-color: antiquewhite;
    margin: auto;
    margin-bottom: 40px;
    min-width: 400px;
    max-width: 890px;
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img.pequena {
    width: 50%;
    margin: auto;
    display: block;
}

main h1 {
    font-family: var(--font-android);
    background-color: var(--cor2);
    text-align: center;
    padding: 10px;
}

main a {
    background-color: #83e1ad;
    border-radius: 5px;
    padding: 2px 5px;
    text-decoration: none;
    font-weight: bold;
    color: #063d1e;
}

main a:hover {
    text-decoration: underline;
}

main p {
    font-family: var(--font-padrao);
    text-indent: 30px;
    line-height: 1.4em;
    font-size: 1.1em;
    text-align: justify;
    padding: 8px;
}

main img {
    width: 100%;
    display: block;
}

main strong {
    font-family: var(--font-destaque);
    color: #063d1e;
    font-weight: bold;
}

main h2 {
    font-family: var(--font-android);
    background-image: linear-gradient(to right, var(--cor2), transparent);
}

div.video {
    margin: 0 -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    border-radius: 20px;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


aside {
    background-color: var(--cor0);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 8px;
    margin-bottom: 10px;
}

aside ul {
    columns: 2;
    list-style-position: inside;
    list-style-type: none;
}

aside h3#sub-titulo {
    color: white;
    background-color: #063d1e;
    padding: 10px;
    margin: -15px -14px -9px -14px;
    border-radius: 10px 10px 0 0;
}

footer {
    background-color: #09df66;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer a {
    text-decoration: none;
    background-color: #83e1ad;
    color: #063d1e;
    border-radius: 5px;
    padding: 3px;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
